name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Git Semantic Version
      uses: PaulHatch/semantic-version@v5.4.0
      with:
        major_pattern: "major:"
        minor_pattern: "feat:"
        patch_pattern: "fix:"
        version_format: "${major}.${minor}.${patch}-prerelease-${increment}"
      id: versionASD
        
    - name: Docker autentication
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

    - name: Build Docker Image
      env:
        APP_VERSION: ${{ steps.versionASD.outputs.version }}
      run: |
        docker build --target prod -t michaelvasquezdev/michael-shop:$APP_VERSION .
        docker build --target prod -t michaelvasquezdev/michael-shop:latest .

    - name: Push Docker Image
      env:
        APP_VERSION: ${{ steps.versionASD.outputs.version }}
      run: |
        docker push --target prod michaelvasquezdev/michael-shop:$APP_VERSION
        docker push --target prod michaelvasquezdev/michael-shop:latest
